/* =========================
   Base Reset & Typography
========================= */

*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html, body {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;
}

h1 span {
    font-size: 3.6rem;
    color: #469165;
    display: block;
}

h2 {
    color: #001931;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    text-align: center;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: #fff;
}

/* =========================
   Utilities
========================= */

.container {
    max-width: 1600px;
    margin: auto;
}

.kicker {
    background-color: #fff;
    padding: 0.4rem 0.6rem;
    border-radius: 50rem;
}

.subtitle {
    color: #469165;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1rem;
}

ul li {
    list-style: none;
    display: flex;
    gap: 0.3rem;
}

/* =========================
   Buttons
========================= */

button {
    padding: 0.6rem 0.8rem;
    border: 1px solid #469165;
    background-color: #469165;
    color: #fff;
    border-radius: 0.4rem;
}

button:hover {
    background-color: #000;
    border-color: #000;
}

/* =========================
   Header
========================= */

header {
    background-color: #fff;
    width: 100%;
}

header .container, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 6rem;
}

.logo img {
    width: 7rem;
}

nav ul {
    list-style-type: none;
    gap: 2.5rem;
}

nav ul li a {
    font-weight: 500;
    font-size: 0.8rem;
    color: #000;
}

header button {
    padding: 0.6rem 0.8rem;
    border: 1px solid #469165;
    background-color: #469165;
    color: #fff;
    border-radius: 0.4rem;
}

header button:hover, main .hero .button .primary:hover {
    background-color: #000;
    cursor: pointer;
    border: 1px solid #000;
}

header button a {
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
}

/* =========================
   Hero
========================= */

main .hero {
    min-height: 33.7rem;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero .content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

main .hero .content .text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 68rem;
}

main .hero .content .text .kicker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

main .hero .content .text .kicker img {
    width: 0.8rem;
    height: 0.8rem;
}

main .hero .content .text .kicker p {
    color: #469165;
    font-size: 0.8rem;
}

main .hero .content .text > p {
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
    font-size: 0.9rem;

}

main .hero .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

main .hero .button a {
    color: #fff;
    padding: 0.6rem 0.8rem;
    border: 1px solid #469165;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

main .hero .button a.primary {
    background-color: #469165;
}

main .hero .button a.secondary:hover {
    background-color: #469165;
}

main .hero .button a img {
    width: 1rem;
    height: 1rem;
}

/* =========================
   Problems
========================= */

main .problems-container {
    padding: 4rem 6rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}
main .problems-container .title {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

main .problems-container .title p {
    color: #627382;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
}

main .problems-container .problems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

main .problems-container .problems .box {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #0000000F;
    padding: 1.2rem;
    border-radius: 0.4rem;
    width: 16.1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

main .problems-container .problems .box img {
    width: 3rem;
    height: 3rem;
    text-align: center;
}

main .problems-container .problems .box p {
    color: #627382;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: center;
}

/* =========================
   Solutions
========================= */

main .solutions-container {
    padding: 4rem 6rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

main .solutions-container .solutions {
    width: 68rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

main .solutions-container .solutions > div {
    width: 30rem;
    height: 30rem;
    max-width: 100%;
}

main .solutions-container .solutions .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

main .solutions-container .solutions .content .text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

main .solutions-container .solutions .content h2 {
    text-align: left;
}

main .content .description {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
    color: #627382;
}

main .solutions-container .solutions .content ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

main .solutions-container .solutions .content ul li p {
    color: #001931;
    line-height: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
}

/* =========================
   CTA
========================= */

main .cta-container {
    padding: 4rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .cta-container .cta {
    width: 68rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F6F2;
    padding: 4rem 2rem;
    border-radius: 0.6rem;
    gap: 1.2rem;
}

main .cta .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

main .cta p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #627382;
    text-align: center;
    width: 28rem;
}

main .cta .button {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

main .cta button a {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
}

/* =========================
   Footer
========================= */

footer {
    background-color: #001931;
}

footer .container {
    padding: 6rem 6rem 1.5rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

footer .container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: start;
}

footer .social ul {
    display: flex;
    gap: 0.8rem;
}

footer .social ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social ul li img {
    width: 1rem;
    height: 1rem;
}

footer .container .copyright {
    border-top: 1px solid #E5E7EB33;
    padding-top: 1rem;
}

footer .container .copyright p {
    text-align: center;
    color: #fff;
    margin: auto;
    font-size: 0.8rem;
}