*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html, body {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;
}

h1 span {
    font-size: 3.6rem;
    color: #469165;
    display: block;
}

.container {
    max-width: 1600px;
    margin: auto;
}

.kicker {
    background-color: #fff;
    padding: 0.4rem 0.6rem;
    border-radius: 50rem;
}

/* Header */

header {
    background-color: #fff;
    padding: 0.8rem 6rem;
    width: 100%;
}

header .container, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 7rem;
}

nav ul {
    list-style-type: none;
    gap: 2.5rem;
}

nav ul li a {
    font-weight: 500;
    font-size: 0.8rem;
    color: #000;
}

header button {
    padding: 0.6rem 0.8rem;
    border: 1px solid #469165;
    background-color: #469165;
    color: #fff;
    border-radius: 0.4rem;
}

header button:hover, main .hero .button .primary:hover {
    background-color: #000;
    cursor: pointer;
    border: 1px solid #000;
}

header button a {
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
}

main .hero {
    min-height: 33.7rem;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero .content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

main .hero .content .text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 68rem;
}

main .hero .content .text .kicker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

main .hero .content .text .kicker img {
    width: 0.8rem;
    height: 0.8rem;
}

main .hero .content .text .kicker p {
    color: #469165;
    font-size: 0.8rem;
}

main .hero .content .text > p {
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
    font-size: 0.9rem;

}

main .hero .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

main .hero .button a {
    color: #fff;
    padding: 0.6rem 0.8rem;
    border: 1px solid #469165;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

main .hero .button a.primary {
    background-color: #469165;
}

main .hero .button a.secondary:hover {
    background-color: #469165;
}

main .hero .button a img {
    width: 1rem;
    height: 1rem;
}

